
<!DOCTYPE html>

<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous"/>

    <link rel="stylesheet" href="css/Style.css"/>
</head>
<body class="body1">


<div class="fontstyle"><a href="/login"><strong> Sign up</strong></a><br/></div>

<table class="table">
    <tr>
        <th>address</th>
        <th>city</th>
        <th>state</th>
        <th>price</th>

        <!--<th>description</th>-->
        <!--<th>rules</th>-->
        <!--<th>wifi</th>-->
        <!--<th>cable</th>-->
        <!--<th>privatebathroom</th>-->

    </tr>


    <tr>
        <td>3727 anpolis area</td>
        <td>Silver Spring</td>
        <td>Maryland</td>
        <td>10,000</td>
        <!--<td>asd</td>-->
        <!--<td>asd</td>-->
        <!--<td>asd</td>-->
        <!--<td>asq</td>-->
        <!--<td>wqe</td>-->
    </tr>

</table>


<script
        src="https://code.jquery.com/jquery-3.2.1.js"
        integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
        crossorigin="anonymous">
</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">

</script>

</body>
</html>